@{
    ViewBag.Title = "Contact";
}
<link href="@Url.Content("~/Content/layoutContact.css")" rel="stylesheet" type="text/css" />
                
				<br/>
				<br/>
				<div class="containerSection2">
					<img alt="Contact" src="~/images/contact.png"/>
					<p>Cattery Pajocoons</p>
				</div>
				<br/>
				<br/>
				<div class="containerSection1">
					<p>Wim Straetmans-Minner Marie Jeanne</p>
					<p>Frans Van Cauwelaertstraat 78</p>	
					<p>1760 ROOSDAAL</p>
					<p>BELGIUM</p>
					<p>Tel. 0032 54 32 14 10</p>
					<p>e-mail : wim.straetmans@pajocoons.be</p>
				</div>