@{
    ViewBag.Title = "Females";
}
<link href="@Url.Content("~/Content/layoutMales.css")" rel="stylesheet" type="text/css" />
<div class="content1">
					<a href="femalesAngie.xhtml"><img alt="Angie" src="~/images/females1.png"/></a>
					<br  />
					<a href="femalesAngie.xhtml">Angie</a>
				</div>
				<div class="content2">
					<a href="femalesGinger.xhtml"><img alt="Ginger" src="~/images/females2.png"/></a>
					<br  />
					<a href="femalesGinger.xhtml">Ginger</a>
				</div>
				<div class="content1">
					<a href="femalesSugar.xhtml"><img alt="Sugar" src="~/images/females3.png"/></a>
					<br  />
					<a href="femalesSugar.xhtml">Sugar</a>
				</div>
				<div class="content2">
					<a href="femalesWhoopy.xhtml"><img alt="Whoopy" src="~/images/females4.png"/></a>
					<br  />
					<a href="femalesWhoopy.xhtml">Whoopy</a>
				</div>
