@{
    ViewBag.Title = "Home Page";
}
<link href="@Url.Content("~/Content/layoutHome.css")" rel="stylesheet" type="text/css" />
<div class="content">
					<a href="kittens.xhtml"><img class="picHome" alt="header" src="images/kittens1.png"/></a>
					<p>Nieuws Augustus over de kittens bijvoorbeeld</p>
</div>
<div class="content">
				<a href="kittens.xhtml"><img class="picHome" alt="header" src="images/kittens2.png"/></a>
					<p>Nieuws Juli, misschien nieuws van shows?</p>
</div>
<div class="content">
				<a href="kittens.xhtml"><img class="picHome" alt="header" src="images/kittens3.png"/></a>
					<p>Nieuws Juni, nieuwe kittens beschikbaar van jonny en angie, 6 mooie kittens</p>
</div>
<div class="content">
				<a href="kittens.xhtml"><img class="picHome" alt="header" src="images/kittens4.png"/></a>
					<p>Nieuws Mei 2013</p>
</div>
<div class="content">
				<a href="kittens.xhtml"><img class="picHome" alt="header" src="images/kittens2.png"/></a>
					<p>Nieuws Mei</p>
</div>
<div class="content">
				<a href="kittens.xhtml"><img class="picHome" alt="header" src="images/kittens3.png"/></a>
					<p>Nieuws Mei</p>
</div>
