@{
    ViewBag.Title = "Kittens";
}
<link href="@Url.Content("~/Content/layoutKittens.css")" rel="stylesheet" type="text/css" />
<div id="containerSection1">
						<div class="containerFoto">
							<a href="KittensNest2.xhtml"><img alt="header" src="~/images/kittens1.png"/></a>
						</div>
						<div class="containerTekst">
							<p>Kittens December 2012 Kittens December 2012 Kittens November 2012</p>
						</div>		
				</div>
				<div id="containerSection2">
						<div class="containerFoto">
							<a href="KittensNest1.xhtml"><img alt="header" src="~/images/kittens2.png"/></a>
						</div>
						<div class="containerTekst">
							<p>Kittens November 2012 Kittens November 2012 Kittens November 2012</p>
						</div>
				</div>