@{
    ViewBag.Title = "About";
}
<link href="@Url.Content("~/Content/layoutMales.css")" rel="stylesheet" type="text/css" />
<div class="content1">
					<a href="Hollister.xhtml"><img alt="Hollister" src="~/images/males1.png"/></a>
					<br  />
					<a href="Hollister.xhtml">Hollister</a>
				</div>
				<div class="content2">
					<a href="Indi.xhtml"><img alt="Indi" src="~/images/males2.png"/></a>
					<br  />
					<a href="Indi.xhtml">Indi</a>
				</div>
				<div class="content1">
					<a href="Jhonny.xhtml"><img alt="Jhonny" src="~/images/males3a.png"/></a>
					<br  />
					<a href="Jhonny.xhtml">Jonny</a>
				</div>
				<div class="content2">
					<a href="Orlando.xhtml"><img alt="Orlando" src="~/images/males4.png"/></a>
					<br  />
					<a href="Orlando.xhtml">Orlando</a>
				</div>